doctype
html
    head
        meta(charset="UTF-8")
        title just for test
        include pug/styles.pug
    body
        header
            p there is for test
            p there is for test
        p there is for test
        p there is for test
        p there is for test
        p there is for test
        script(src="http://localhost:35729/livereload.js")